* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.mai-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-products {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #605f5f;
}

.treats-container {
    width: 100%;
    background: #fffafa;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.treat-title {
    font-family: "Caprasimo", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cards {
        gap: 16px;
    }
    .limited-container {
        padding: 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .limited-container {
        gap: 24px;
    }
    .hero-image {
        height: 178px;
    }
    .hero-title {
        font-size: 32px;
        line-height: 36px;
    }
    .treat-title {
        font-size: 24px;
    }

    .mb {
        margin-bottom: 50px;
    }
    .treats-container {
        padding: 20px 0;
        gap: 30px;
    }
}
